:root{

    --ff-League: 'League Spartan', sans-serif;

}

body{

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, right bottom;
    
    

}

.container{

    display: flex;
    flex-direction: column;
    max-width: 1200px;
    
   

}

.informations{

    display: flex;
    flex-direction: row;
    
}



    .products_description{

        display: flex;
        flex-direction: column;
        width: 50%;
        padding-right: 8rem;

    }


    .products_description h1{

        font-family: var(--ff-League);
        font-size: 55px;
        font-weight: 700;
        color: hsl(300, 43%, 22%);
        margin-bottom: 1.5rem;

    }

    .products_description p{

        font-family: var(--ff-League);
        font-size: 20px;
        font-weight: 400;
        color: hsl(303, 10%, 53%);
        line-height: 24px;

    }



    .ratings_container{

        display: flex;
        flex-direction: column;
        margin-top: 2rem;


    }

    .rating{

        display: flex;
        align-items: center;
        background-color: hsl(300, 24%, 96%);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 5px;
        width: 440px;
        height: 50px;
        

    }

    .rating_stars{

       display: flex;
       height: 16px;
       margin-left: 30px;
       margin-right: 30px;

    }

    .rating_stars img{

            padding-right: 8px;



        }

    .rating_info{

        font-family: var(--ff-League);
        font-size: 18px;
        font-weight: 500;
        color: hsl(300, 43%, 22%);

    }

    .r2{

        margin-left: 2.5rem;

    }

    .r3{

        margin-left: 5rem;

    }


.comments{

    display: flex;
   
}

.comment{

    display: flex;
    flex-direction: column;
    background-color:  hsl(300, 43%, 22%);
    margin-top: 4rem;
    border-radius: 8px;
    padding:2rem;
}

    .profile{

        display: flex;
        align-items: center;
        margin-bottom:1.5rem;

    }

        .profile_img{

            border-radius: 50%;
            overflow: hidden;
            width: 40px;

        }

        .profile_info{

            display: flex;
            flex-direction: column;
            margin-left: 1.5rem;
        }

        .profile_info h2{

            font-family: var(--ff-League);
            font-size: 20px;
            font-weight: 500;
            color: white;
    
        }
        .profile_info h3{

            font-family: var(--ff-League);
            font-size: 18px;
            font-weight: 400;
            color: hsl(333, 80%, 67%);
    


        }

    .comment p{

        font-family: var(--ff-League);
        font-size: 18px;
        font-weight: 500;
        color: white;
        line-height: 24px;



    }


    .c2{

        margin-top: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;

    }

    .c3{

        margin-top:6rem;

    }



    @media (max-width:1000px){


        body{

            min-height: 1400px;
            background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
            background-repeat: no-repeat, no-repeat;
            background-position: top left, right bottom;

        }
       
        .container{

            max-width: 740px;

        }

        .informations{

            display: flex;
            flex-direction: column;
            
            
            
        }

        .products_description{

            display: flex;
            flex-direction: column;
            width: 100%;
            padding-right: 0rem;
            text-align: center;
    
        }

        .comments{

            display: flex;
            flex-direction: column;
           
        }
        
        
        .ratings_container{


            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .rating{

            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            width: 328px;
            height: 80px;
            
        }

        .r2{
            margin-left:0;
        }

        .r3{
            margin-left:0;
        }

        .c2{

            margin-left:0;
            margin-right:0;
            margin-top:2rem;
        }

        .c3{

            margin-top: 2rem;

        }
    }